# Files:
dirs.py
backupDirs.py
testBackupDirs.py
testSaveFormat.save

backup.save

src/test/src1
src/test/src2
src/test/src3
src/test/dest1
src/test/dest2
src/test/dest3


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# PyBuilder
target/

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

